.console-outer {

  width: 100%;
  max-width: 800px;
  height: 160px;
  background-color: #00fff204;
  /* background-image: linear-gradient(to top, #00fff20a , black);
 */
}

.console-switch {
  border: .5px solid white;
  background-color: black;
  padding: .5rem .4rem;
  color: rgba(255, 255, 255, 0.815);
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: .8rem;
  letter-spacing: .1rem;
  min-width: 85px;
  margin-top: .7rem;
  margin-right: .7rem;
  width: 150px;
  float: right;
}

.choose-model {
  padding: 4rem;
}

.cyber-button:hover {
  animation: background-change .3s .3s forwards;
 
  
}


  @keyframes background-change {

      0% {
          background: rgb(142, 153, 153);
      }
      100% {
          background: rgba(255, 255, 255, 0.822);
          color: black;
          font-weight: bold;
      }
  }
