.intervals {
 
  height: 3rem;
  overflow: auto;
 
 max-width: 2000px;
  margin-top: .1rem;
  margin-bottom: 0rem;
display: flex;

align-items: stretch;
align-content: stretch;
overflow: auto;
}

.intervals::-webkit-scrollbar {
   
  height: 1px;
}

.interval-subbar{
  
  display: flex;
  margin: 0 auto .1rem 0;
  padding: .5rem .8rem;
  box-sizing: border-box;
  background-color: rgb(34, 34, 34);
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .1rem;
  color: rgba(255, 255, 255, 0.815);
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
}