.navbar-inner {
display: flex;
align-items: center;
justify-content: space-between;
margin: 2.6rem;

}

.navbar-btns{
 
  
}

.navbar-btn{
  border: .5px solid white;
  background-color: transparent;
  padding: .4rem 0;
  color: rgba(255, 255, 255, 0.815);
  margin-right: .4rem;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: .7rem;
  letter-spacing: .1rem;
  min-width: 85px;
}

.navbar-outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 3.5rem;
  background-color: #00fff231;
}

.logo {
  font-size: 1.4rem;
  letter-spacing: 2.3px;
}


@media only screen and (max-width: 520px) {
 
  .logo {
    font-size: 1rem;
    letter-spacing: 2.1px;
  }

  .navbar-btn{
    font-size: .6rem;
    padding: .3rem;
    min-width: 50px;
    min-width: 60px;
  }

  .navbar-inner {
    margin: 1rem;
  }
}



.cyber-button:hover {
  animation: background-change .6s .6s forwards;
 
  
}


  @keyframes background-change {

      0% {
          background: rgb(142, 153, 153);
      }
      100% {
          background: white;
          color: #092b29;
          font-weight: bold;
      }
  }
