.buttonbar-outer {

  height: 3rem;
  display: flex;
  margin: 0rem auto 0 ;
  overflow: auto;
  max-width: 2000px;
}


.buttonbar-outer::-webkit-scrollbar {
   
  height: 1px;
}

.popular-symbols {
  display: flex;
  margin: 0rem auto .1rem ;
  padding: .5rem .8rem;
  box-sizing: border-box;
  background-color: rgb(34, 34, 34);
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .1rem;
  color: rgba(255, 255, 255, 0.815);
  max-width: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
