.intervalbtn-outer {
  padding: .3rem;
  background-color: #8400ff31;
  border-bottom: 3px solid transparent;
  color: rgba(255, 255, 255, 0.822);
  margin-right: .1rem;
  margin-bottom: .1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: 'Raleway', sans-serif;
  min-width: 6rem;
  font-size: 1rem;

}
.intervalbtn-outer:hover {
  background-color: #8400ff4b;

}

.selected, .selected:hover {
  background-color: #8400ff65;
  border-bottom: 3px solid #8400ffa6;
  color: white;
}

.intervalbtn-label, .intervalbtn-sublabel{
  font-size: .8rem;
  
  pointer-events: none;
}


.intervalbutton-sublabel {
  font-size: .7em;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (max-width: 520px) {
  .intervalbtn-outer {
  min-width: 3rem;
  }
}
