.button-outer {
  
  background-color: #8400ff31;
  padding: 1rem;
  border-bottom: 3px solid transparent;
  color: rgba(255, 255, 255, 0.822);
  margin: .1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: 'Orbitron', sans-serif;
}
.button-outer:hover {
  background-color: #8400ff4b;


}

.selected {
  background-color: #8400ff4b;
  border-bottom: 3px solid #8400ffa6;
  color: white;
}

.button-sublabel {
  font-size: .6rem;
  font-family: 'Raleway', sans-serif;
  pointer-events: none;

}