.button-outer {
  
  background-color: rgb(34, 34, 34);
  padding: 1rem;
  border-bottom: 3px solid transparent;
  color: rgba(255, 255, 255, 0.822);
  margin-right: .1rem;
  margin-bottom: .1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.button-outer:hover {
  background-color: rgb(56, 56, 56);


}

.selected, .selected:hover {
  background-color: rgb(78, 78, 78);
  border-bottom: 3px solid rgb(161, 161, 161);
  color: white;
}

.button-label, .button-sublabel{
  font-size: 1rem;
  
  pointer-events: none;
}

.button-label{
letter-spacing: .07rem;
}

.button-sublabel {
  font-size: .7rem;
  font-family: 'Raleway', sans-serif;
}